##############################
## Gradle
##############################
bin/
build/
.gradle
gradle
gradlew
gradlew.bat
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## OS X
##############################
.DS_Store
